<%= simple_form_for(@customer) do |f| %>
    <%= f.error_notification %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone_num %>
    <%= f.input :address_1 %>
    <%= f.input :address_2 %>
    <%= f.input :address_3 %>
    <%= f.input :zip_code %>
    <%= f.input :city %>
    <%= f.input :email %>

    <div class="form-inputs">
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
