<div id="navbar" class="col-lg-2 mynavbar" style="max-width: 200px">
  <ul class="nav nav-pills nav-stacked">
    <li id="navbar_home"><a href="/">Home</a></li>
    <li id="navbar_add_customer"><%=link_to "Add Todo", new_customer_path %></li>
    <li id="navbar_add_customer"><%=link_to "Add Todo", new_customer_path %></li>
    <li>
    </li>
  </ul>
</div>